nav {
    background: rgb(68,234,147);
    background: linear-gradient(90deg, rgba(68,234,147,1) 0%, rgba(143,54,221,1) 100%);
    min-height: 70px;
}

.navbar-brand {
    width: 150px;
}

.navlink {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgba(78, 78, 78, 0.356) 1px 1px 2px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navlink:hover {
    color: #fff;
    text-shadow: rgba(78, 78, 78, 0.877) 1px 1px 2px;
}

.navbar-toggler {
    color: #fff;
}

.dropdown-button {
    border: none;
    background-color: none;
}
