body {
  margin: 0;
  padding: 0;
}

h2 {
  color: #383838;
}

main {
  background-color: #fafafa;
  font-family: montserrat, sans-serif;
}

h1 {
  color: #8054C6;
  font-family: Termina, sans-serif;
}

a {
  text-decoration: none;
  color: #8054C6;
}
