.btn-form {
    background-color: #4156a1;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 400;
    padding: 7px 17px;
    text-transform: uppercase;
}

.btn-form:hover{
    background-color: #556ab4;
    transition: .2s ease all;
}

.btn-form:disabled,
.btn-form[disabled]{
    background-color: #a1aaca;
}